app/bootstrap/cache/services.php

app/storage/app/*
app/storage/framework/cache/*
app/storage/framework/sessions/*
app/storage/framework/views/*
app/storage/logs/*

app/vendor

app/node_modules

**.git
.idea
**.gitignore
**.gitattributes
**.sass-cache